<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <h1>Library Management</h1>
        <div>
            <a href="/home">Admin Login</a>
            <a href="/home">Reader Login</a>
        </div>
    </nav>
    
    <main>
        <p>Our Books</p>
        {% for book in Books %}
        <p>{{book.book_name}} by {{book.author_name}}</p>
        {% endfor %}
    </main>
</body>
</html>